.layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 15px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
    align-items: center;

}